.env
.env.*
!.env.example

.next
node_modules
.worktrees/
.agents/
.specify/*
!.specify/memory/
!.specify/memory/constitution.md

*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
